body {
    min-width: 320px;
}

.brand-logo img {
    height: 42px;
    margin: 10px;
    vertical-align:middle;
}

div.margined {
    margin: 10px 0;
}

img.imgvert {
    vertical-align:middle;
}

img.smallavater {
    vertical-align: middle;
    width: 75px;
    height: 75px;
}
/*
nav .nav-wrapper form, nav .nav-wrapper form .input-field, .button-collapse{
     height: 100%;
}*/
.desktop-nav #search {
    height: 64px !important; /* or height of nav */
}

.desktop-nav ul.right {
    height: 64px;
}

.desktop-nav > .col {
    height: 60px;
}

span.date {
    color: #9e9e9e;
    font-size: .7em;
}

.inphelp {
    font-size: 0.8em;
    text-align: center;
    margin-top: -10px;
}

div.input-field {
    position: relative;
}


.bubble
{
    position: relative;
    width: 250px;
    height: 25px;
    padding: 2px;
    text-align: center;
    background: #FFFFFF;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: #F44336 solid 1px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 9px 4px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -4px;
    left: -9px;
    top: 48%;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 9px 4px 0;
    border-color: transparent #F44336;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -4px;
    left: -10px;
    top: 48%;
}


.inperrors{
    position: absolute;
    font-size: 0.67em;
    top: -30px;
    left: 200px;
}

.rowParent, .columnParent{/*
    display: -webkit-box;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-direction: normal;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;


    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-content: center;
    align-content: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    -ms-flex-align: center;
}

.columnParent{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rowParent {
    padding:5px;
}

.rowChild {
    margin:5px;
}

.flexChild, .doubleFlexChild{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.doubleFlexChild {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.messageBar {
    width: 100%;
    background-color: #d0ff90;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: .85em;
    font-weight: 400;
    text-align: center;

    display: none;
}

/*
#nav-mobile input[type="search"]{
    height: 64px;
    margin: 0;
}
#nav-mobile label[for=search-m]{
    height: 64px;
}*/
