@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(twoots: List[PrintMessage], page: Long, pageSize: Long, amount: Long)(implicit context: Context, request: RequestHeader, lang: Lang)
@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@import util._
@main("Globale Timeline") {

    <h5 class="center-align">Globale Timeline</h5>
    @viewHelpers.pager(page, amount, pageSize, routes.HomeController.index(_))
    <ul class="collection">

        @for(twoot <- twoots) {
            @viewHelpers.displayTwoot(twoot)
        }
        @if(twoots.isEmpty) {
            <li class="collection-item">
                Es gibt noch keine Twoots
            </li>
        }
    </ul>

    <script>
            CallbackMgr.registerCallback(function(){
            	

                var messageContainer = $('#messageContainer');
                var amountContainer = $('#messageContainer .amount');
                var messageCount = 0;
                var messages = Array();

                /*
            	// Websocket Connection disabled
                var url = jsRoutes.controllers.WebsocketController.globalsocket().absoluteURL();
                var toWebsocketURL = url.replace(/^\/\/|^.*?:\/\//, 'ws://');
                var ws = $.gracefulWebSocket(toWebsocketURL);
                ws.onmessage = function(event){
                    var payload = event.data;

                    messages++;
                    console.log(payload);

                    if (messageContainer.is(':hidden')) {
                        messageContainer.slideDown(400);
                    }
                    amountContainer.text(messages);
                }
				*/
                
				// this is for stomping around
                
                
                var stompurl = "ws://localhost:61616/stomp";
                var client = Stomp.client(stompurl, "v11.stomp" );
                var connection_trys = 0;
                
                var connection_callback = function(){
                    console.log("Stomp connection - Successful!");

                    var currentTimelineNew = 0;

                    @context.user.map { user =>
                        client.subscribe(
                                "/topic/timeline/global",
                                function( message ) {
                                    var json_parsed = JSON.parse(message.body);
                                    if (json_parsed.owner.id != @{user.id})
                                        Materialize.toast('Neue Message von ' + json_parsed.owner.username + ' auf globaler Timeline', 4000);
                                },
                                {priority: 10}
                        );

                        client.subscribe(
                                "/topic/timeline/@{user.id}",
                                function( message ) {
                                    var json_parsed = JSON.parse(message.body);
                                    if (json_parsed.owner.id != @{user.id})
                                        Materialize.toast('Neue Message von ' + json_parsed.owner.username + ' auf deiner Timeline!', 4000);
                                },
                                {priority: 10}
                        );
                    }.getOrElse{
                        client.subscribe(
                                "/topic/timeline/global",
                                function( message ) {
                                    var json_parsed = JSON.parse(message.body);
                                    Materialize.toast('Neue Message von ' + json_parsed.owner.username , 4000);
                                },
                                {priority: 10}
                        );
                    }

                };
                
                var connection_error = function(){
                    console.log("Stomp connection - failed");
                    if (connection_trys < 3) {
                    	connection_trys++;
                    	console.log("Reconnect to broker");
                    	connect();
                    } else {
                    	console.log("Broker did not respond.. Retrying in a couple of seconds");
                    	setTimeout(reset_Connection, 5000);
                    }
                };

                var reset_Connection = function() {
            	  	connection_trys = 0;
            	  	connect();
            	};
                
                var connect = function(){
                  	client.connect(headers, connection_callback, connection_error);
            	};
            	  
                var headers = { login: "", passcode: "" };

                connect();
            });

    </script>
}
