@(loginForm:Form[LoginUser])(implicit flash:Flash, context: Context, request: RequestHeader, lang: Lang, messages: Messages)

@implicitField = @{ helper.FieldConstructor(oneRowFieldConstructorTemplate.f) }
@main("Login"){

    @helper.form(action = routes.AuthController.login) {
        <div class="row">
            <form class="col s12 m6 offset-m3">
                <div class="row">
                    @flash.get("errors").map{ msg =>
                        <div class=" col m6 offset-m3 s12">
                            <div class="card-panel red lighten-4">
                                Login fehlgeschlagen:
                                @msg
                            </div>
                        </div>
                    }


                    @helper.inputText(loginForm("email"), args = '_label -> "E-Mail", 'icon -> "email", '_showConstraints -> false)
                    @helper.inputPassword(loginForm("password"), args = '_label -> "Passwort", 'icon -> "vpn_key", '_showConstraints -> false)


                    <div class="input-field col m6 offset-m3 s12">
                        <button class="btn blue waves-effect waves-light" type="submit" name="action">Einloggen
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    }
}
