@import java.util.Date
@import org.ocpsoft.prettytime.PrettyTime;

@displayTime(timestamp:String) = @{
  val date = new Date()
  date.setTime(timestamp.toLong)
  val pt = new PrettyTime()
  val out = pt.format(date)
  out
}


@displayTwoot(twoot: PrintMessage) = {
  <li class="collection-item avatar">
    <img src="@routes.Assets.versioned("images/profile_pictures/0.jpg")" alt="" class="circle responsive-img">
      <a href="/users/@twoot.owner.id"><span class="title">@twoot.owner.username</span></a>
      <p>
        @twoot.body
      </p>
      <span class="date">@displayTime(twoot.date)</span>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    }