@(elements: helper.FieldElements)

<div class="input-field col m6 offset-m3 s12 @if(elements.hasErrors) {red-text lighten-4}">
    @if(elements.args.contains('icon)){
        <i class="material-icons prefix">@elements.args.get('icon)</i>
    }
    @elements.input
    <label class="active" for="@elements.id">@elements.label</label>


    @if(elements.errors.nonEmpty) {
        <p class="inphelp inperr">@elements.errors.mkString(", ")</p>
    }
    @if(elements.errors.isEmpty && elements.infos.nonEmpty) {
        <p class="inphelp">@elements.infos.mkString(", ")</p>
    }
</div>