@(registerForm:Form[BasicUser])(implicit flash:Flash, context: Context, request: RequestHeader, lang: Lang, messages: Messages)

@implicitField = @{ helper.FieldConstructor(oneRowFieldConstructorTemplate.f) }

@main("Registrieren") {
    @helper.form(action = routes.AuthController.register) {
        <div class="row">
            <form class="col s12 m6 offset-m3">
                <div class="row">
                    @flash.get("success").map{ msg =>
                        <div class=" col m6 offset-m3 s12">
                            <div class="card-panel green lighten-4">
                                @msg
                            </div>
                        </div>
                    }
                    @flash.get("errors").map{ msg =>
                        <div class=" col m6 offset-m3 s12">
                            <div class="card-panel red lighten-4">
                                Registration fehlgeschlagen:
                                @msg
                            </div>
                        </div>
                    }

                    @helper.inputText(registerForm("email"), args = '_label -> "E-Mail", 'icon -> "email", '_showConstraints -> false)
                    @helper.inputText(registerForm("username"), args = '_label -> "Username", 'icon -> "perm_identity")
                    @helper.inputPassword(registerForm("password"), args = '_label -> "Passwort", 'icon -> "vpn_key")

                    <div class="input-field col m6 offset-m3 s12">
                        <button class="btn blue waves-effect waves-light" type="submit" name="action">Registrieren
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    }
}
