@(users: List[User])(implicit flash:Flash, context: Context, request: RequestHeader)
@import util._

@main("Suchergebnisse") {

  <h5 class="center-align">Suchergebnisse</h5>

  <ul class="collection">
  @if(users.isEmpty) {
    <li class="collection-item"> No Users found </li>
  }
  @for(user <- users) {
    <li class="collection-item"> <a href="@routes.TimelineController.otherTimeline(user.id, 0)">@user.username</a> </li>
  }
  </ul>
}