@(timeLineOf: User, twootForm:Form[postMessage], twoots:List[PrintMessage], amount: Long, pageSize: Long, page: Long)(implicit flash:Flash, context: Context, request: RequestHeader, lang: Lang, messages: Messages)
@import util._

@anrede = @{context.user match {
  case Some(usr) =>
    if (usr.id == timeLineOf.id) "Deine"
    else timeLineOf.username + "s"
  case None => timeLineOf.username + "s"
}}

@implicitField = @{ helper.FieldConstructor(oneRowFieldConstructorTemplate.f) }
@main(anrede + " TimeLine") {

  @context.user.map { authUser =>
    @viewHelpers.foreignHeader(timeLineOf, context.user )
    @if( timeLineOf.id == authUser.id ) {
      <div class="row">
      @helper.form(action = routes.TimelineController.twoot) {

        <form class="col s12 m8 offset-m2" action="@routes.TimelineController.twoot">
          <div class="row card">
            <div class="col s12">
              <div class="row">
                <h6 class="center-align"> Schreibe einen Twott</h6>
                @flash.get("success").map { msg =>
                  <div class="col s12 m8 offset-m2">
                    <div class="card-panel green lighten-4">
                      @msg
                    </div>
                  </div>
                }
                @flash.get("errors").map { msg =>
                  <div class="col s12 m8 offset-m2">
                    <div class="card-panel red lighten-4">
                      Twoot fehlgeschlagen:
                      @msg
                    </div>
                  </div>
                }
                @helper.textarea(twootForm("body"), args = '_label -> "Nachricht")
                @*<div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Nachricht</label>
                </div>
                @helper.input(field = twootForm("body")) { (id, name, value, args) =>
                <div class="input-field col s12">
                <textarea name="@name" id="@id" rows='3' cols='50'>@value</textarea>
                <label for="@id">Nachricht</label>
                </div>
                }*@
                <div class="input-field col s12">
                  <button class="btn blue waves-effect waves-light" type="submit" name="action">Twotten
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      }
      </div>
    }
  }

  @viewHelpers.pager(page, amount, pageSize, routes.TimelineController.otherTimeline(timeLineOf.id, _) )

  <ul class="collection">

    @for(twoot <- twoots) {
      @viewHelpers.displayTwoot(twoot)
    }
    @if(twoots.isEmpty) {
      <li class="collection-item">
        Dieser User hat noch keine Twoots
      </li>
    }
  </ul>

  <script>
    CallbackMgr.registerCallback(function(){
       var messageContainer = $('#messageContainer');
       var amountContainer = $('#messageContainer .amount');
       var messageCount = 0;
       var messages = Array();

       @* /* // Pure Websocket implementation
       var url = jsRoutes.controllers.WebsocketController.socket(@{timeLineOf.id}).absoluteURL();
       var toWebsocketURL = url.replace(/^\/\/|^.*?:\/\//, 'ws://');
       var ws = $.gracefulWebSocket(toWebsocketURL);
       ws.onmessage = function(event){
           var payload = event.data;

           messages++;
           console.log(payload);

           if (messageContainer.is(':hidden')) {
               messageContainer.slideDown(400);
           }
           amountContainer.text(messages);
       };
      */*@
      
      // this is for stomping around
      
      var connection_trys = 0;
      
      var stompurl = "ws://localhost:61616/stomp";
      var client = Stomp.client(stompurl, "v11.stomp" );
      
      var connection_callback = function(){
      	connection_trys = 0;
        console.log("Stomp connection - Successful!");



        @context.user.map { user =>

          client.subscribe(
            "/topic/timeline/@{user.id}",
            function (message) {
              var json_parsed = JSON.parse(message.body);
              if (json_parsed.owner.id != @{user.id})
                  Materialize.toast('Neue Message von ' + json_parsed.owner.username + ' auf <strong> deiner </strong> Timeline!', 4000);
            },
            {priority: 10}
          );

          if (@{timeLineOf.id} != @{user.id})
          {
              client.subscribe(
                      "/topic/timeline/@{timeLineOf.id}",
                      function (message) {
                          var json_parsed = JSON.parse(message.body);
                          if (json_parsed.owner.id != @{user.id})
                              Materialize.toast('Neue Message von ' + json_parsed.owner.username + ' auf dieser Timeline!', 4000);
                      },
                      {priority: 10}
              );
          }
        }.getOrElse{
          client.subscribe(
                  "/topic/timeline/@{timeLineOf.id}",
                  function( message ) {
                    var json_parsed = JSON.parse(message.body);
                    Materialize.toast('Neue Message von ' + json_parsed.owner.username + ' auf dieser Timeline!', 4000);
                  },
                  {priority: 10}
          );
        }
      };

      var connection_error = function(){
        console.log("Stomp connection - failed");
        if (connection_trys < 3) {
        	connection_trys++;
        	console.log("Reconnect to broker in three seconds");
        	setTimeout(connect, 3000);
        } else {
        	console.log("Broker did not respond.. Retrying in 10 seconds");
        	setTimeout(reset_Connection, 10000);
        }
      };

	  var reset_Connection = function() {
	  	connection_trys = 0;
	  	connect();
	  };
	  
	

	  var connect = function(){
        var headers = { login: "", passcode: "" };
      	client.connect(headers, connection_callback, connection_error);
	  };

	  connect();
    });
  </script>
  
}